<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title></title>
<link rel="stylesheet" href="css/global.css"/>
</head>
<body>
<div class="wrapper">
	<header class="header"> 
		<!-- searchSite_searchBtn -->
		<!-- <p class="head_lf" id="searchSite_backObj"><span class="backicon icon"></span></p> -->
		<h3 class="head_cn">发现</h3>
		<!-- <p class="head_rt" id="searchSite_stationObj"><span class="siteicon main_icon"></span>附近</p> -->
	</header>
	<section class="centerWrap" style="border:none;">
		<div id="div_star" class="cen_div">
			<ul class="cen_ul cen_ul1">
				<li><img src="images/new/discover_icon_tj.png" alt=""></li>
				<li><strong>大神推荐</strong><br/><span>跟大咖一起玩、提高中奖几率</span></li>
				<li><i></i></li>
			</ul> 
		</div>
		<div id="div_hemaiIndex" class="cen_div" data-t="hemaiIndex">
			<ul class="cen_ul cen_ul2">
				<li><img src="images/new/discover_icon_together.png" alt=""></li>
				<li><strong>合买</strong><br/><span>跟着高手一起买、奖金一起分</span></li>
				<li><i></i></li>
			</ul>
		</div>
		<div id="div_newsIdx" class="cen_div">
			<ul class="cen_ul cen_ul3">
				<li><img src="images/new/discover_icon_informatian.png" alt=""></li>
				<li><strong>热门资讯</strong><br/><span>最新资讯、一手掌握</span></li>
				<li><i></i></li>
			</ul>
		</div>
		<!-- div_newsIdx -->
		<div id="div_huodong" class="cen_div" >
			<ul class="cen_ul cen_ul4">
				<li><img src="images/new/discover_icon_gift.png" alt=""></li>
				<li><strong>礼品中心</strong><br/><span>礼品多多、优惠多多</span></li>
				<li><i></i></li>
			</ul>
		</div>

		<!-- <div id="div_zhuan" class="cen_div">
			<ul class="cen_ul">
				<li><img src="images/new/discover_icon_zj.png" alt=""></li>
				<li><strong>中大奖专栏</strong><br/><span>中奖专栏、买彩必看</span></li>
				<li><i></i></li>
			</ul>
		</div>
		<div class="cen_div">
			<ul class="cen_ul">
				<li><img src="images/new/discover_icon_video.png" alt=""></li>
				<li><strong>比赛直播</strong><br/><span>随时随地、看您想看</span></li>
				<li><i></i></li>
			</ul>
		</div> -->
	</section>
</div>
<!-- <div class="wrapper">
	<header class="header">
		<p class="head_lf" id="searchSite_backObj"><span class="backicon icon"></span></p>
		<h3 class="head_cn">查找站点</h3>
		<p class="head_rt" id="searchSite_stationObj"><span class="siteicon main_icon"></span>附近</p>
	</header>
	<section class="centerWrap" >
		<ul class="srh_con mb40">
            <li class="act_box" id="searchSite_cityTit"><span class="font16">所在区域：</span>
            	<select id="searchSite_searchCityList" style="display:none">
                
                </select>
            	<em class="sel_arrow"></em>
            </li>
			<li class="act_box"><span class="font16">详细地址：</span><input type="text" id="searchSite_searchAddress" placeholder="请输入站点地址" value="" /></li>
		</ul>
		<div class="center mb40">
			<a href="javascript:void(0);" class="btn btn_big" id="searchSite_searchBtn">确定查找</a>
		</div>
		<div class="list_wrap" id="searchSite_searchList">
		</div>
	</section>
</div> -->
</body>

</html>