<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title>注册送红包</title>
</head>
<body>
    <!-- <header class="header"  style="background:transparent;z-index:100">
        <p class="head_lf" id="regsendBonus_backbtn"><span class="backicon icon"></span></p>
        <p class="head_rt" data-t="share" id="regsendBonus_shareObj"><a class="shareicon icon" ></a></p>
    </header> -->
    <div class="invite-wrap" style="background: #ff2811;" id="invsendBonus_wrapper">
        <header>
            <div class="hea_div">
                <p class="head_p">
                    <img id="dltBonus_backbtn" src="images/huodong/nav_icon_return.png" alt="返回">
                    <img id="regsendBlt_shareObj" src="images/huodong/fenx.png" alt="分享">
                </p>
                
                <img class="hea_img" src="images/huodong/huod.png" alt="活动礼品">
            </div>
        </header>
        <section style="background:#ff5024;padding-bottom:100px;">
            <div class="div_ydj">
                <img src="images/huodong/ydj.png" alt="一等奖派奖">
            </div>
            <div class="div_str">
                <p>
                    自第18041期开始，每期安排1000万用于一等奖派奖，<span>3元最高可中2400万</span>！共持续20期，派奖总金额高达2亿元！派奖期间，中得当期超级大乐透一等奖者，则同时中得派奖奖金。
                </p>
            </div>

            <div style="padding-top:50px;" class="div_ydj">
                <img src="images/huodong/gdj.png" alt="固定奖派奖">
            </div>
            <div class="div_str">
                <p>
                    自第18041期开始，安排3亿元用于进行追加投注的固定奖派奖，活动持续至3亿奖金派完为止。
                </p>
            </div>
            <div class="div_bor">
                <ul class="ul_tex ul_cor" style="border-bottom:1px solid #eee;">
                    <li>奖级</li>
                    <li>原奖金</li>
                    <li>追加<br/>加奖奖金</li>
                    <li>追加<br/>加奖后奖金</li>
                </ul>
                <ul class="ul_tex ul_bor1">
                    <li>四等奖</li>
                    <li>200元</li>
                    <li>100元</li>
                    <li>400元</li>
                </ul>
                <ul class="ul_tex ul_bor2">
                    <li>五等奖</li>
                    <li>10元</li>
                    <li>5元</li>
                    <li>20元</li>
                </ul>
                <ul class="ul_tex">
                    <li>六等奖</li>
                    <li>5元</li>
                    <li>5元</li>
                    <li>10元</li>
                </ul>
            </div>
        </section>
        <footer class="foo_fixed">
            <p id="p_click">立即投注</p>
        </footer>
        <!-- global_shareWrap -->
        <!-- <div class="share-bot socialshare" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);display:none;" id="global_shareWrap">
            <ul class="share-list clearfix">
                <li data-t="wx" id="li_wx">
                    <p>
                        <span class="share weixin"></span>
                    </p>
                    <p>微信好友</p>
                </li>
                <li data-t="wxq">
                    <p>
                        <span class="share friend"></span>
                        </p><p>朋友圈</p>
                </li>
            </ul>
            <p class="paybot paybot1">
                <a id="a_close"  href="javascript:void(0)">取消</a>
            </p>
        </div> -->
    </div>
</body>

</html>

